#menutitle {
  background-image: url("pics/GRAPHICS/Leaf.png"), url("pics/DIVIDERS/Menu.png");
  background-size: 800px, cover;
  background-position: -150px bottom, 0px;
  height: 2200px;
  background-repeat: no-repeat;
}

@media (max-width: 1700px) {
  #menutitle {
    background-position: -210px 1000px, 0px;
  }
}

@media (max-width: 1480px) {
  #menutitle {
    background-position: -250px 900px, 0px;
  }
}

@media (max-width: 1200px) {
  #menutitle {
    background-image: url("pics/GRAPHICS/Leaf medium.png"), url("pics/DIVIDERS/Menu.png");
    background-position: -250px 800px, 0px;
  }
}

@media (max-width: 990px) {
  #menutitle {
    background-size: 700px, cover;
    background-position: -250px 1000px, 0px;
  }
}

@media (max-width: 600px) {  
  #menutitle {
    background-image: url("pics/DIVIDERS/Menu.png");
    background-size: cover;
  }  
}
/*end of leaf business*/

button {
  padding-top: 5px;
  border:none;
  outline:none;
  border-radius: 100px;
  font-size: 25px;
  font-family: GlacialReg;
  width: calc(100vw/6);
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.4s ease;
}

.getorder button { 
  padding-top: 8px;
  color: white;
  background-color: #B29B68;
}

.getspecial button {
  background-color: white;
  border: solid 3px black;
}

:root {
  --translateOrder: 3vw;
  --translateSpecialLeft: 7vw;
  --translateSpecialRight: 7vw;
  --translateSpecialCenter: 6.5vw;
  --translateCheck: calc((100vw/6)/2.5);
}

#OB1, #OB2, #OB3 {
  transform: translateX(var(--translateOrder));
}

#OB4 {
  transform:translateX(var(--translateSpecialLeft));
}

#OB5 {
  transform: translateX(var(--translateSpecialRight));
}

#OB6 {
  transform: translateX(var(--translateSpecialCenter));
}

.getorder button:hover {
  background-color: rgb(178, 155, 104, 0.7);
}

.getspecial button:hover{
  border: solid 3px #B29B68;
}

button span{
  opacity: 1;
  visibility: visible;
}

/*circle*/
.success{
  width: 13.5%;
  height: 100%;
  border-radius: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translate(var(--translateCheck), -32px);
  transition: all 0.4s ease;
}

/*check* inside circle*/
.success svg{
  padding-top: 35px;
  width: 20px;
  height: 100px;
  fill: white;
  transform: translate(0px, -100px) rotate(480deg) scale(0);
  transition: all 0.4s ease;
}

.getspecial svg {
  fill:#B29B68;
}


button.is_active .success {
  opacity: 1;
  visibility: visible;
}

button.is_active .success svg{
  transform: translateY(-50%) rotate(720deg) scale(1);
}

button.is_active span{
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1420px) {
  :root {
    --translateOrder: 1vw;
  }
}

@media (max-width: 1050px) {
  button {  
    font-size: 20px;
  }
  .getorder button { 
    padding-top: 12px;
  }
}

@media (max-width: 990px) {
  button {  
    font-size: 16px;
    width: calc(100vw/4);
    height: 40px;
  }
  :root {
    --translateOrder: 4.5vw;
    --translateCheck: calc((100vw/4)/2.5);
  }
  .getorder button { 
    padding-top: 10px;
  }
  .success svg{
    padding-top: 45px;
  }
}

@media (max-width: 600px) {
  .getorder button {  
    padding-top: 4px;
    width: calc(30.5vw);
    height: 30px;
  }
  :root {
    --translateOrder: 20.5vw;
    --translateCheck: calc(20.5vw/1.7);
  }

}

#menutitle p:nth-child(3)  {
  padding: 80px 0px 25px 0px;
  font-family: Nick;
  font-size: 80px;
  text-align: center;
}

.transparent {
  padding-left: 20vw;
  max-width: 80vw;
}

.transparent .cardboard {
  justify-content: space-around;
}

.transparent .cardboard .card{
  margin: -25px 0 10px 0;
  width: calc(100% / 2);
  background-color: rgb(255,255,255, 0);
  color: black;
}

.transparent  .cardboard .card:hover{
  border-radius: 10px;
}

.transparent  .card .details{
  text-align: center;
}

.transparent .card .content .img{
  height: 450px;
  width: 400px;
}

@media (max-width: 1480px) {
  #menutitle p:nth-child(3) {
    font-size: 70px;
  }
  .transparent .card .content .img{
    height: 350px;
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .transparent {
    padding-left: 10vw;
    max-width: 90vw;
  }
  :root {
    --translateSpecialLeft: 12vw;
    --translateSpecialRight: 12vw;
    --translateSpecialCenter: 11.5vw;
  }
}

@media (max-width: 990px) {
  #menutitle p:nth-child(3) {
    font-size: 50px;
  }
  .transparent .card .content .img{
    height: 280px;
    width: 260px;
  }
  .getspecial button {
    width: calc(90vw/4);
    --translateCheck: calc((90vw/4)/2.5);
  }
  :root {
    --translateSpecialLeft: 9vw;
    --translateSpecialRight: 9vw;
    --translateSpecialCenter: 8.5vw;
  }
}

@media (max-width: 720px) {  
  .transparent .cardboard  .card{
    width: 100%;
  }
  .transparent .cardcontainer{
    padding-left: 15vw;
    max-width: 85vw;
  }
  .transparent .card .content .img{
    height: 230px;
    width: 210px;
  }
  :root {
    --translateSpecialLeft: calc(85vw/2.95);
    --translateSpecialRight: calc(85vw/2.95);
    --translateSpecialCenter: calc(85vw/2.95);
  }
   .getspecial button { 
    padding-top: 8px;
  }
}

@media (max-width: 600px) {
  .getspecial button {  
    padding-top: 2px;
    height: 30px;
    width: calc(85vw/2.5);
    --translateCheck: calc((85vw/3.80)/1.55);
  }
  :root {
    --translateSpecialLeft: calc(85vw/3.80);
    --translateSpecialRight: calc(85vw/3.80);
    --translateSpecialCenter: calc(85vw/3.80);
  }
}

@media (max-width: 400px){
  .getspecial button {
    --translateCheck: calc(85vw/7);
  }
}

@font-face {
  font-family: "Aleo";
  src: url("fonts/Aleo-Light.ttf");
}
@font-face {
  font-family: "AmFour";
  src: url("fonts/Amsterdam Four_ttf 400.ttf");
}
@font-face {
  font-family: "DMSerif";
  src: url("fonts/DMSerifDisplay-Regular.ttf");
}
@font-face {
  font-family: "EBGar";
  src: url("fonts/EBGaramond-VariableFont_wght.ttf");
}
@font-face {
  font-family: "GlacialReg";
  src: url("fonts/GlacialIndifference-Regular.otf");
}
@font-face {
  font-family: "GlacialBold";
  src: url("fonts/GlacialIndifference-Bold.otf");
}
@font-face {
  font-family: "LibBask";
  src: url("fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "Nick";
  src: url("fonts/Nickainley-Normal.otf");
}