#menutitle {
  background-image: url("pics/GRAPHICS/Leaf.png"), url("pics/DIVIDERS/Menu.png");
  background-size: 800px, cover;
  background-position: -150px bottom, 0px;
  height: 2200px;
  background-repeat: no-repeat;
}

@media (max-width: 1700px) {
  #menutitle {
    background-position: -210px 1000px, 0px;
  }
}

@media (max-width: 1480px) {
  #menutitle {
    background-position: -250px 900px, 0px;
  }
}

@media (max-width: 1200px) {
  #menutitle {
    background-image: url("pics/GRAPHICS/Leaf medium.png"), url("pics/DIVIDERS/Menu.png");
    background-position: -250px 800px, 0px;
  }
}

@media (max-width: 990px) {
  #menutitle {
    background-size: 700px, cover;
    background-position: -250px 1000px, 0px;
  }
}

@media (max-width: 600px) {  
  #menutitle {
    background-image: url("pics/DIVIDERS/Menu.png");
    background-size: cover;
  }  
}
/*end of leaf business*/

.card .orderbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 30px 0px;
  transition: all 0.4s ease;
}

.orderbutton a {  
  padding: 10px 40px;
  font-family: GlacialReg;
  font-size: 25px;
  color: white;
  border-radius: 100px;
  background-color: #B29B68;
  text-decoration: none;
  transition: all 0.4s ease;
}

.orderbutton a:hover {
  background-color: rgb(178,155,104, 0.7);
}


@media (max-width: 1280px) {
  .orderbutton a {  
    padding: 10px 20px;
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .orderbutton a {  
    padding: 10px 10px;
    font-size: 16px;
  }
}

#menutitle p:nth-child(3)  {
  padding: 80px 0px 25px 0px;
  font-family: Nick;
  font-size: 80px;
  text-align: center;
}

.transparent {
  padding-left: 20vw;
  max-width: 80vw;
}

.transparent .cardboard {
  justify-content: space-around;
}

.transparent .cardboard .card{
  margin: -25px 0 10px 0;
  width: calc(100% / 2);
  background-color: rgb(255,255,255, 0);
  color: black;
}

.transparent  .cardboard .card:hover{
  border-radius: 10px;
}

.transparent  .card .details{
  text-align: center;
}

#left {
  padding-left: 100px;
}

#right {
  margin-left: -100px;
}

.transparent .card .content .img{
  height: 450px;
  width: 400px;
}

@media (max-width: 1480px) {
  #menutitle p:nth-child(3) {
    font-size: 70px;
  }
  .transparent .card .content .img{
    height: 350px;
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .transparent {
    padding-left: 10vw;
    max-width: 90vw;
  }
}

@media (max-width: 990px) {
  #menutitle p:nth-child(3) {
    font-size: 50px;
  }
  .transparent .card .content .img{
    height: 280px;
    width: 260px;
  }
}

@media (max-width: 720px) {  
  .transparent .cardboard  .card{
    width: 100%;
  }
  .transparent .cardcontainer{
    padding-left: 15vw;
    max-width: 85vw;
  }
  .transparent .card .content .img{
    height: 230px;
    width: 210px;
  }
  #left {
    padding-left: 0px;
  }
  
  #right {
    margin-left: 0px;
  }
}

#orderbutton {
  padding-top: 5px;
  border:none;
  outline:none;
  font-size: 25px;
  font-family: GlacialReg;
  background-color: white;
  border: solid 3px black;
  border-radius: 100px;
  width: 250px;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  transform: translate(160px, 20px);
  transition: all 0.4s ease;
}

#orderbutton:hover{
  color: white;
  border: solid 3px #B29B68;
  background-color: #B29B68;
}

#orderbutton span{
  opacity: 1;
  visibility: visible;
}

.success{
  width: 16%;
  height: 100%;
  border-radius: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background-color:#B29B68;
  transform: translate(100px, -32px);
  transition: all 0.4s ease;
}

.success svg{
  padding-top: 35px;
  width: 20px;
  height: 100px;
  fill: white;
  transform: translate(100px, -32px) rotate(0deg) scale(0);
  transition: all 0.4s ease;
}

#orderbutton.is_active .success {
  opacity: 1;
  visibility: visible;
}

#orderbutton.is_active .success svg{
  transform: translateY(-50%) rotate(720deg) scale(1);
}

#orderbutton.is_active span{
  opacity: 0;
  visibility: hidden;
}

@font-face {
  font-family: "Aleo";
  src: url("fonts/Aleo-Light.ttf");
}
@font-face {
  font-family: "AmFour";
  src: url("fonts/Amsterdam Four_ttf 400.ttf");
}
@font-face {
  font-family: "DMSerif";
  src: url("fonts/DMSerifDisplay-Regular.ttf");
}
@font-face {
  font-family: "EBGar";
  src: url("fonts/EBGaramond-VariableFont_wght.ttf");
}
@font-face {
  font-family: "GlacialReg";
  src: url("fonts/GlacialIndifference-Regular.otf");
}
@font-face {
  font-family: "GlacialBold";
  src: url("fonts/GlacialIndifference-Bold.otf");
}
@font-face {
  font-family: "LibBask";
  src: url("fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "Nick";
  src: url("fonts/Nickainley-Normal.otf");
}