#menutitle {
  background-image: url("pics/DIVIDERS/Menu.png");
  background-size: cover;
  height: 1500px;
  background-repeat: no-repeat;
}

#menutitle p:first-child {
  padding:50px 0px 25px 0px;
  font-family: EBGar;
  font-size: 80px;
  text-align: center;
}

@media (max-width: 460px) {
  #menutitle p:first-child  {
    font-size: 30px;
  }
}

.card .orderbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 30px 0px;
  transition: all 0.4s ease;
}

.orderbutton a {  
  padding: 10px 40px;
  font-family: GlacialReg;
  font-size: 25px;
  color: white;
  border-radius: 100px;
  background-color: #B29B68;
  text-decoration: none;
  transition: all 0.4s ease;
}

.orderbutton a:hover {
  background-color: rgb(178,155,104, 0.7);
}


@media (max-width: 1280px) {
  .orderbutton a {  
    padding: 10px 20px;
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .orderbutton a {  
    padding: 10px 10px;
    font-size: 16px;
  }
}

#menutitle p:nth-child(3)  {
  padding: 50px 0px 25px 0px;
  font-family: Nick;
  font-size: 80px;
  text-align: center;
}

.transparent .cardboard {
  justify-content: space-around;
}

.transparent {
  max-width: 90vw;
  width: 100%;
  overflow: hidden;
}

.transparent .cardboard .card{
  margin: 20px 0 10px 0;
  width: calc(100% / 2 - 10px);
  background-color: peachpuff;
  padding: 0;
  color: black;
}

.transparent  .cardboard .card:hover{
  border-radius: 10px;
  background-color: white;
}

.transparent  .card .details{
  padding: 0;
}

.transparent .card .content .img{
  height: 650px;
  width: 600px;
}

/*adjust!!!*/
@media (max-width: 1280px) {
  #menutitle p:first-child  {
    font-size: 70px;
  }
  .transparent .card .content .img{
    height: 270px;
    width: 220px;
  }
}
/*
.transparent .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/

.transparent .card .details{
  text-align: center;
}

.transparent .orderbutton a {  
  color: black;
  background-color: white;
  border: solid 3px black;
  border-radius: 100px;
}

.transparent .orderbutton a:hover {
  color: white;
  border: solid 3px #B29B68;
  background-color: #B29B68;
}

@font-face {
  font-family: "Aleo";
  src: url("fonts/Aleo-Light.ttf");
}
@font-face {
  font-family: "AmFour";
  src: url("fonts/Amsterdam Four_ttf 400.ttf");
}
@font-face {
  font-family: "DMSerif";
  src: url("fonts/DMSerifDisplay-Regular.ttf");
}
@font-face {
  font-family: "EBGar";
  src: url("fonts/EBGaramond-VariableFont_wght.ttf");
}
@font-face {
  font-family: "GlacialReg";
  src: url("fonts/GlacialIndifference-Regular.otf");
}
@font-face {
  font-family: "GlacialBold";
  src: url("fonts/GlacialIndifference-Bold.otf");
}
@font-face {
  font-family: "LibBask";
  src: url("fonts/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "Nick";
  src: url("fonts/Nickainley-Normal.otf");
}